_MARKETING/VIDEO/
Assets/QR&Code Reader and Generator/
Library/
ZIPs/
Temp/
Assets/PublicAddress_*.png
Assets/PublicAddress_*.png.meta
YourBitcoinManager.apk
Assets/Plugins/UnityPurchasing/
Assets/Plugins/UnityChannel/
__STUFF/
*.apk
