[submodule "Assets/Submodules"]
	path = Assets/Submodules
	url = https://github.com/EstebanGameDevelopment/YourBitcoinController.git
[submodule "Assets/YourCommonTools"]
	path = Assets/YourCommonTools
	url = https://github.com/EstebanGameDevelopment/YourCommonTools.git
[submodule "Assets/YourBitcoinScreens"]
	path = Assets/YourBitcoinScreens
	url = https://github.com/EstebanGameDevelopment/YourBitcoinScreens.git
